* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Arial, sans-serif;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

/*style Nav-bar*/ 

.nav-bar > .bar-head {
	font-size: 16px;
	color: #2E3E48;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.logo {
	cursor: pointer;
}

.nav-links {
	list-style: none;
}

.nav-links li {
	display: inline-block;
	padding: 0 16px;
}

.nav-links .active {
	color: #00A2C7;
	font-weight: 600;
	border-right: 1px solid rgba(46, 62, 72, .12);
	padding-right: 10px;
}

.nav-links  li  a {
	transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
	color: #00A2C7;
}

/*style Banner*/

.banner {
	min-height: 460px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-size: cover;
	background-image: url(./images/banner.jpeg);
	background-position: 0 -380px;
}

.welcome-meetup {
	text-align: center;
	color: #FFF;
}

.welcome-meetup > h1{
	font-size: 42px;
	font-weight: 700;
	margin: 0px;
}

.welcome-meetup > p {
	margin-top: 12px;
	font-size: 20px;
	font-weight: 500;
}

.button {
	margin-top: 50px;
}

.button > a {
	color: #FFF;
	font-size: 16px;
	font-weight: 600;
}

.btn {
	padding: .75em 7em;
	border: none;
	border-radius: 4px;
	background: #F13A59;
	transition: all 0.2s;
}

.btn:hover {
	background: #E81035;
}

/*Style List Group*/

.group {
	font-size: 14px;
	color: #5D5A63;
}

.group {
	margin: 0;
	padding: 0;
	font-weight: bold;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #E6E8E9;
}

.group > li {
	margin: 20px 10px;
	border: 1px solid;
	padding: 8px 14px;
	border-radius: 4px;
	background: #F6F7F8;
	border-color: #C5C4C4;
}

.group > li {
	transition: all 0.2s ease 0s;
}

.group > li:hover {
	border-color: #9F9DA3;
}

/*style List Cards*/

.main {
	margin-left: 140px;
	margin-top: 30px;
	margin-bottom: 20px;
}

.main h3 {
	margin-bottom: 10px;
}

.margin-left {
	margin-left: 8px;
}

.top {
	margin-top: 30px;
}

.card-container {
	display: flex;
	flex-direction: row;
}

.cards-content {
	width: 340px;
	height: 256px;
	border: 1px solid rgba(46, 62, 72, .12);
	border-radius: 8px;
	box-sizing: border-box;
	margin: 20px 10px;
	box-shadow: 
	0 0 2px 0 rgba(46,62,72,.12),
	0 2px 4px 0 rgba(46,62,72,.12);
	transition: all 0.2s;
}

.cards-content:hover {
	box-shadow: 
	0 0 4px 0 rgba(46,62,72,.12),
	0 4px 12px 0 rgba(46,62,72,.12);
}

.cards-wrapper {
	margin: 10px 0px;
	padding: 20px;
}

.text-small {
	font-size: 14px;
	line-height: 1.43;
}

.wrap-space {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.margin {
	margin-bottom: 8px;
}

.cards-time {
	color: #0098AB;
	font-weight: 600;
	text-transform: uppercase;
	word-spacing: .1em;
}

.cards-subtitle {
	font-size: 20px;
	font-weight: 600;
	color: #212121;
	line-height: 1.2
}

.cards-title h5 {
	color: #212121;
	font-size: 16px;
	font-weight: 400;
}

.fas {
	margin-right: 8px;
}

.cards-locail {
	color: #585858;
}

.cards-footer {
	margin-top: 40px;
	padding: 20px 0px;
}

.members {
	margin-right: 100px;
}

.cards-btn {
	padding: 10px 20px;
	background-color: #FFF;
	border: 1px solid #0098AB;
	color: #0098AB;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 600;
	transition: all 0.2s;
}

.cards-btn:hover {
	color: #FFF;
	background-color: #0098AB;
}

/*style cards image*/

.container {
	display: flex;
}

.card-demo {
	width: 20%;
	border: 1px solid #E6E8E9;
	border-radius: 10px;
	margin-top: 20px;
	margin-right: 23px;
	margin-left: 7px;
	text-decoration: none;
	box-shadow: 
	0 0 2px 0 rgba(46,62,72,.12),
	0 2px 4px 0 rgba(46,62,72,.12);
	transition: all 0.2s;
}

.card-demo:hover {
	box-shadow: 
	0 0 6px 0 rgba(46,62,72,.12),
	0 6px 16px 0 rgba(46,62,72,.12);
}

.card-content {
	padding: 20px;

}

.card-img img {
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.card-subtitle {
	padding-bottom: 10px;
	color: #585858;
	font-size: 13px;
	line-height: 1.43;
	font-weight: 600;
}

.card-title > h3 {
	font-size: 20px;
	color: #212121;
	font-weight: 600;
	margin-bottom: 3px;
}

.card-title > p {
	font-size: 14px;
	padding-bottom: 2em;
	color: #362B21;
}

.card-footer {
	color: #6C757D;
	font-size: 80%;
	font-weight: 400;
}

/*style categories*/

.expoler-container {
	display: flex;
	margin: 20px 0px;
}

.expolerHome {
  width: 253px;
  height: 192px;
  margin: 0px 0px 0px 15px;
}

.expolerHome > a {
	color: #4d4957;
	font-size: 16px;
}

.card {
  	min-height: 160px;
  	background-size: cover;
  	background-position: center center;
  	border: 1px solid rgba(46, 62, 72, .12);
  	border-radius: 8px;
  	background-clip: padding-box;
  	box-sizing: border-box;
  	display: block;
}

.cataloge-title {
	margin-top: 12px;
}

/*style how meetup work*/

.howMeetupWork {
	padding: 20px 0px;
	margin-top: 20px;
	background-color: #0F1721;
	border-top: 1px solid hsla(0, 0%, 100%, .2);
	color: white;
}

.howMeetupWork-find {
	margin-right: 80px;
}

.bounds-wile {
	max-width: 1100px;
}

.bounds {
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.section {
	margin: 0 20px;
	padding-top: 40px;
}

.textPage-title {
	color: #FFF;
	font-size: 32px;
	line-height: 1.19;
	text-align: center;
}

.margin--bottom {
	margin-bottom: 20px;
}

.padding--bottom {
	padding-bottom: 20px;
}

.padding--top {
	padding-top: 20px;
}

.flex {
	display: flex;
}

.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	box-sizing: border-box;
	flex-wrap: nowrap;
}

.flex > .flex-item-shink {
	flex-basis: auto;
	flex-grow: 3;
	flex-shrink: 0;
	width: auto;
}

.text-blue, .text-blue svg {
	stroke: transparent;
	fill: #00A2C7;
	color: #00A2C7;
}

.text-big {
	font-size: 28px;
	line-height: 1.29;
	font-weight: 600;
	padding-bottom: 5px;
}

.fast > svg {
	padding-right: 10px;
	height: 72px;
}

.text-blue > svg {
	margin-right: 30px;
}

/*style get the app*/

.section {
	margin: 0 20px;
	padding-top: 40px;
}

.flex {
	display: flex;
}

.flex-column {
	justify-content: space-around;
	align-items: center;
}

.textPage--title {
	color: #212121;
	font-size: 32px;
	line-height: 1.19;
	font-weight: 500;
}

.text-blue > span {
	padding-right: 20px;
}

.getTheApp-anroid {
	padding-left: 20px;
}

.text-bold {
	font-weight: 600;
	font-size: 16px;
}

/*style footer*/

.stripe {
	background-color: #353E48;
}

.inverted {
	color: #FFF;
}

.bounds-footer {
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.section-head {
	border-bottom: 1px solid hsla(0, 0%, 100%, .2);
	padding: 40px 0 20px;
	margin: 0 20px;
}

.chunk {
	padding-bottom: 20px;
}

.links {
	text-decoration: underline;
	transition: all 0.2s;
}

.links:hover {
	text-decoration: none;
}

.flexs {
	display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: flex-start;
}

.margin-bottoms {
	margin-bottom: 20px;
}

.flex--item {
	flex-grow: 1;
}

.flex--item:first-child {
	padding-left: 0;
}

.gridList-item {
	color: hsla(0, 0%, 100%, .7);
	line-height: 1.43;
	padding-bottom: 20px;
}

.grid-item {
	color: hsla(0, 0%, 100%, .7); 
	display: flex;
}

.grid {
	margin-right: 40px;
}

.margins-left {
	margin-left: 50px;
}